* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #141313;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgb(146, 74, 240);
  padding: 1rem 1.2rem 0.7rem;
  border-radius: 2rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

#compliment {
  color: rgb(146, 74, 240);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  max-width: 80%;
}
